NEXT_PUBLIC_SITE_URL=http://localhost:3000

CONTENTFUL_SPACE_ID=
CONTENTFUL_DELIVERY_ACCESS_TOKEN=
CONTENTFUL_PREVIEW_ACCESS_TOKEN=
CONTENTFUL_ENVIRONMENT=master
CONTENTFUL_MANAGEMENT_TOKEN=

RESEND_API_KEY=
RESEND_FROM_EMAIL=hello@example.com
CONTACT_TO_EMAIL=team@example.com
