// ==============================
// 変数
// ==============================
$goodbook_color: #2d88ff;
$font-color_default: #dddddd;
$font-color_sub1: #494949;
$background-color_default: #191919;
$background-color_sub1: #303030;
$background-color_hover: rgba(198, 198, 198, 0.25);
$background-color_transparency_color: rgba(0, 0, 0, 0.5);
$background-color_submit: #494949;

$site-width: 980px;

$font-size_s: 12px;
$font-size_m: 14px;
$font-size_default: 16px;
$font-size_l: 18px;
$font-size_xl: 24px;
$font-size_xxl: 30px;
$font-size_3l: 38px;

$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;
$space_3l: 40px;

$border-radius_s: 3px;
$border-radius_m: 10px;
$border-radius_l: 50px;

$transition_time: 0.25s;

$breakpoints: (
	"sm": "screen and (max-width: 414px);",
	"md": "screen and (max-width: 768px);",
	"lg": "screen and (max-width: 1000px);",
	"xl": "screen and (max-width: 1200px);",
) !default;

@mixin mq($breakpoint: sm) {
	@media #{map-get($breakpoints,$breakpoint)} {
		@content;
	}
}

.html_backgroundColor {
	background: $background-color_default;
}
body {
	font-family: Verdana;
	color: $font-color_default;
}
.header {
	position: fixed;
	z-index: 9;
	top: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: #333333;
	border-bottom: solid 1px #4c4c4c;
	&_center_icon {
		display: inline;
		border-radius: $border-radius_s;
		font-size: $font-size_m;
		&:last-child {
			@include mq() {
				display: none;
			}
		}
	}
	&IconSubject {
		padding: $space_s;
		background: $font-color_default;
		color: $background-color_default;
		border-radius: $border-radius_s;
		float: left;
	}
	&_right_icon {
		font-size: $font-size_m;
		padding: 0 $space_l;
		&:not(:last-child) {
			@include mq() {
				display: none;
			}
		}
	}
}
.menu-trigger {
	display: none;
	@include mq() {
		display: inline-block;
	}
	transition: all $transition_time;
	box-sizing: border-box;
	position: relative;
	width: 40px;
	height: 32px;
	z-index: 3;
	span {
		display: inline-block;
		transition: all $transition_time;
		box-sizing: border-box;
		position: absolute;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: $font-color_default;
		border-radius: 4px;
		&:nth-of-type(1) {
			top: 0;
		}
		&:nth-of-type(2) {
			top: 14px;
		}
		&:nth-of-type(3) {
			bottom: 0;
		}
	}
	&.active span {
		&:nth-of-type(1) {
			transform: translateY(12px) rotate(-45deg);
		}
		&:nth-of-type(2) {
			opacity: 0;
		}
		&:nth-of-type(3) {
			transform: translateY(-15px) rotate(45deg);
		}
	}
}
a {
	color: $font-color_default;
}
.icon {
	width: 70px;
	&_img {
		height: 50px;
		width: 50px;
		border-radius: 75px;
		object-fit: cover;
		margin-right: 5px;
		margin-top: 6px;
		margin-left: 8px;
		&_div {
			height: 50px;
			width: 95%;
			margin: auto;
			padding: $space_m;
			display: flex;
			margin-right: 5px;
			& > .info_list {
				height: $space_l;
				width: $space_l;
				margin-left: auto;
				border-radius: 75px;
			}
		}
	}
	&_name_div {
		margin: $space_s $space_m;
	}
}
.goodbook_search {
	width: 100%;
	height: $space_3l;
	border-radius: $border-radius_l;
	border: none;
	outline: none;
	font-size: $font-size_default;
	color: $font-color_default;
	background-color: #494949;
	@include mq() {
		display: none;
	}
	&_div {
		padding: 8px 0;
	}
	&::placeholder {
		color: $font-color_default;
	}
}
.to_homepage {
	color: $font-color_default;
}
.header_center_icon {
	display: inline;
	padding: $space_l 4%;
	border-radius: $border-radius_s;
	&:hover {
		background-color: $background-color_hover;
		transition: $transition_time;
	}
}
.head {
	&_left {
		display: flex;
		width: 20%;
	}
	&_center {
		display: flex;
		width: 60%;
		justify-content: center;
		align-items: center;
		@include mq() {
			width: 100%;
		}
	}
	&_right {
		display: flex;
		align-items: center;
		width: 20%;
	}
}
.accountMenu {
	position: absolute;
	display: block;
	width: 360px;
	right: 0;
	display: none;
	background-color: $background-color_sub1;
	border-radius: 10px;
	margin-top: $space_l;
	padding: $space_s;
	@include mq() {
		width: 100%;
	}
}
.myicon {
	margin-left: $space_m;
}
.myInfo {
	margin: $space_l;
}
.feedback {
	display: flex;
	padding: 0 $space_xl;
	&:hover {
		background: $background-color_hover;
		border-radius: 10px;
	}
	&_comment {
		margin: $space_l;
	}
	&Icon {
		margin-top: $space_l;
	}
}
.Menu_element {
	display: flex;
	padding: 3px $space_xl;
	align-items: center;
	&:hover {
		background: $background-color_hover;
		border-radius: 10px;
	}
	&_comment {
		margin: $space_xl;
	}
}
.account_menu_a {
	color: $font-color_default;
	display: flex;
	align-items: center;
}
.logout,
.logout:active,
.logout:focus {
	color: $font-color_default;
	text-decoration: none;
}
.main {
	margin-top: 60px;
	background-color: #191919;
	&_div {
		display: flex;
	}
	&_left_icon {
		display: flex;
		color: $font-color_default;
		padding: 10px;
		border-radius: 5px;
		transition: $transition_time;
		&:hover {
			background: $background-color_hover;
			cursor: pointer;
		}
	}
	&_center {
		padding-top: $space_xl;
		margin: 0 20%;
		flex-grow: 1;
		@include mq() {
			margin: 0;
		}
		&_element {
			background-color: $background-color_sub1;
			width: 70%;
			margin: 0 auto;
			border-radius: $border-radius_m;
			margin-bottom: 30px;
			@include mq() {
				width: 100%;
			}
		}
		&_element2 > .border {
			border-bottom: 2px solid #565656;
			width: 95%;
			margin: auto;
		}
		&_element1 {
			overflow: hidden;
		}
		&_element2_share1 {
			width: 95%;
		}
		&_element2_share2 {
			justify-content: center;
			display: flex;
			margin: 2px 15px;
			overflow: hidden;
		}
		&_icon {
			color: #c1c1c1;
			float: left;
		}
		&_comment1 {
			margin-top: 11px;
		}
		&_comment2 {
			padding: 7px 0px;
			margin-left: $space_m;
		}
		&_comment2 > h3 {
			background-color: #565656;
			border-radius: 20px;
			padding: $space_m;
		}
		&_comment2 > h3:hover {
			background: $goodbook_color;
			cursor: pointer;
			transition: $transition_time;
		}
		&_comment3 {
			padding: 13px;
		}
		&_icon_bottom_div > .border {
			padding-top: 30px;
			border-bottom: 2px solid #565656;
			width: 95%;
			margin: auto;
		}
		&_element2_icon_div {
			display: flex;
			padding: $space_m 0%;
			border-radius: 5px;
			width: 33.3%;
			justify-content: center;
			@include mq() {
				font-size: 13px;
			}
			&:hover {
				background: $background-color_hover;
				transition: $transition_time;
			}
		}
		&_comment {
			margin: $space_m;
			word-break: break-all;
		}
		&_mv {
			width: 100%;
			height: 400px;
		}
		&_img {
			width: 100%;
		}
		&_icon_bottom {
			float: left;
			&_div {
				margin: 12px $space_l;
				overflow: hidden;
			}
		}
		&_comment_share_div {
			float: right;
		}
		&_element_pdiv {
			text-align: center;
			margin: $space_m 0;
		}
		&_icon_button_div {
			float: left;
			width: $space_xl;
		}
	}
	&_icon {
		float: left;
	}
	&_icon,
	&_icon2 {
		display: flex;
		margin-left: $space_l;
		padding: 11px $space_l;
		@include mq() {
			margin: 0;
		}
	}
	&_right {
		position: fixed;
		width: 100%;
		left: 80%;
		@include mq() {
			display: none;
		}
	}
	&_live_video_icon,
	&_video_icon,
	&_activity_icon {
		margin-top: $space_m;
	}
}
.btn_action {
	margin-right: 5px;
}
#main_left_wrapper {
	height: 94%;
	position: fixed;
	overflow-y: scroll;
	@include mq() {
		display: inline-block;
		top: 0;
		background: rgba(0, 0, 0, 0.9);
		right: -100%;
		width: 100%;
		height: 100vh;
		padding-top: 60px;
		transition: $transition_time;
		height: 92%;
		&.active {
			transition: $transition_time;
			transform: translateX(-100%);
			z-index: 4;
		}
	}
}

.left_submenu {
	display: none;
}
.hamberger_menu {
	display: none;
	@include mq() {
		display: inline-block;
	}
}
.comment_make_stories1,
.comment_make_stories2 {
	font-weight: bold;
	margin-bottom: 2px;
}
.comment_make_stories2 {
	float: left;
	margin-left: $space_xl;
	margin-top: 8px;
}
.accountMenuBorder {
	border-bottom: 2px solid #565656;
	width: 90%;
	margin: auto;
	margin-top: 2px;
	margin-bottom: 2px;
}
.menu__item {
	display: block;
	&__link {
		display: block;
	}
	&__link {
		display: flex;
		text-decoration: none;
	}
}
.myIcon_img {
	width: 160px;
	height: 160px;
	border-radius: 50%;
	object-fit: cover;
	@include mq() {
		width: 140px;
		height: 140px;
	}
	&_div {
		display: inline-block;
		position: relative;
		top: 60%;
		left: 42%;
		@include mq() {
			top: 66%;
			left: 35%;
		}
	}
}
.myBio {
	margin-bottom: $space_s;
}
.bio {
	&info {
		text-align: center;
	}
	&User {
		color: $goodbook_color;
		font-size: $space_l;
		margin: 0px 0px $space_s 0px;
		display: inline-block;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
		&_textarea {
			margin: 0 auto;
			width: 300px;
			padding: 0px 0px 5px 0px;
		}
		&_submit_btn {
			display: flex;
			justify-content: flex-end;
		}
	}
	&_btn {
		border: none;
		background-color: $background-color_submit;
		color: $font-color_default;
		padding: $space_m;
		border-radius: $border-radius_s;
		outline: none;
		margin-right: 5px;
		&:hover {
			background: $background-color_hover;
		}
	}
}
.textarea_bio {
	border-radius: 5px;
	color: $font-color_default;
	background: $font-color_sub1;
	text-align: center;
	text-decoration: none;
	outline: none;
	resize: none;
	border: none;
}
.time_line {
	margin-top: $space_m;
	font-size: $font-size_s;
}
.ad {
	&_div {
		width: 100%;
	}
	&_title {
		margin: $space_m 0;
	}
	&_subject {
		margin: $space_m 0;
	}
	&_img {
		width: 150px;
		border-radius: 15px;
	}
}

/* 「「「「「「「「「「「「「「「「「 */
/* withdrawpage */
/* 「「「「「「「「「「「「「「「「「 */
.withdraw {
	&_main {
		background-color: #191919;
		height: 100vh;
	}
	&_page {
		&_padding {
			padding-top: 95px;
		}
		&_width {
			width: 550px;
			background-color: #000000;
			margin-left: auto;
			margin-right: auto;
			border-radius: 4px;
		}
		&_inside_padding {
			padding-top: $space_s;
			padding-bottom: $space_s;
			border: solid 1px #4c4c4c;
			border-radius: 4px;
		}
	}
	&_window {
		&_title {
			margin-top: 12px;
			margin-left: 16px;
			margin-right: 16px;
			& h2 {
				margin-bottom: $space_m;
			}
		}
		& input {
			padding: 4px 4px;
			background-color: #4c4c4c;
			color: $font-color_default;
			border: none;
			outline: none;
			border-radius: 2px;
		}
		& input:hover {
			background-color: #333333;
		}
	}
	&_border {
		border-bottom: 2px solid #565656;
	}
	&_content {
		padding-top: $space_xl;
	}
	&_comment {
		font-size: $font-size_m;
		margin-bottom: $space_m;
		line-height: normal;
	}
	&_icon {
		padding-right: 12px;
		display: table-cell;
		font-size: $font-size_xl;
		vertical-align: top;
		padding-top: 4px;
	}
	&_beneath {
		display: flex;
		float: right;
		margin: $space_m 0;
	}
}
#withdraw_icon {
	width: 30px;
}
.padding_inside {
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	margin-bottom: 14px;
}
.content_comment {
	display: table-cell;
	font-size: $font-size_xl;
	vertical-align: top;
	width: 277px;
}
.subject {
	font-weight: bolder;
	font-size: $font-size_default;
	line-height: normal;
}
.account_cancellation_button,
.download_information_button {
	vertical-align: middle;
	padding-left: $space_3l;
}
.button_div {
	height: $space_3l;
	border-top: solid 1px #4c4c4c;
}
.cancel_button,
.withdraw_button {
	margin-right: $space_l;
}

/* 「「「「「「「「「「「「「「「「「 */
/* mypage */
/* 「「「「「「「「「「「「「「「「「 */
.display_none {
	display: none;
}
.mypage {
	&_main {
		margin-top: 60px;
	}
	&_border {
		max-width: 900px;
		border-bottom: 2px solid #565656;
		margin: 0 auto;
	}
}
.main_top {
	&_content_overall {
		background-color: #333333;
	}
	&_cover_photo {
		width: 100%;
		height: 100%;
		position: relative;
		background-size: cover;
		border-radius: 0 0 $border-radius_m $border-radius_m;
		&_div {
			max-width: 940px;
			height: 350px;
			background-color: #191919;
			margin: 0 auto;
			border-radius: 0 0 $border-radius_m $border-radius_m;
		}
	}
	&_content_user {
		&_name {
			margin: 0 auto;
			max-width: 500px;
			text-align: center;
			& i {
				width: 141px;
				font-size: 145px;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0px;
				margin: auto;
			}
			& h1 {
				font-size: 50px;
				text-align: center;
				padding: 15px 0px 5px 0px;
			}
		}
		&_info {
			max-width: 900px;
			margin: 0 auto;
			&_inside {
				display: flex;
				justify-content: space-between;
			}
			&_list1 {
				display: flex;
				@include mq() {
					display: none;
				}
			}
			&_list2 {
				display: flex;
				align-items: center;
				@include mq() {
					margin-left: auto;
				}
			}
		}
		&_detail_info_list2 {
			display: flex;
			align-items: center;
			margin-left: auto;
		}
	}
}
.cover_photo_change_button {
	position: absolute;
	top: 85%;
	right: 2%;
	& input {
		padding: $space_m;
		background-color: $background-color_sub1;
		color: $font-color_default;
		outline: none;
		border: none;
		border-radius: 2px;
		@include mq() {
			font-size: 10px;
		}
		&:hover {
			background-color: #4c4c4c;
			cursor: pointer;
			transition: $transition_time;
		}
	}
}
.info_list {
	padding: $space_m;
}
.edit {
	display: flex;
}
.message {
	display: flex;
	padding: $space_s;
	align-items: center;
}
.info_list:hover,
.edit:hover,
.message:hover {
	background-color: $background-color_hover;
	border-radius: $border-radius_m;
	transition: $transition_time;
}
/* 「「「「「「「「「「「
friends list page
「「「「「「「「「「「　*/
.main_friendlist {
	padding: 2% 17%;
	@include mq() {
		padding: 0;
	}
	&_wrapper {
		width: 900px;
		margin: 0 auto;
		font-size: 17px;
		@include mq() {
			width: 100%;
		}
	}
}

.friendMsg {
	float: right;
	padding: $space_s;
	color: #565656;
	background: $font-color_default;
	border-radius: 20px;
	margin-right: $space_s;
	&:hover {
		background: $goodbook_color;
		transition: $transition_time;
	}
	&.active {
		float: right;
		padding: $space_s;
		color: $font-color_default;
		background: $goodbook_color;
		border-radius: 20px;
	}
}
/* 「「「「「「「「「「「
main lower part
「「「「「「「「「「「　*/
.content_flex {
	display: flex;
	@include mq() {
		display: inline-block;
		width: 100%;
	}
}
.main_lower {
	&_part {
		max-width: 950px;
		margin: 0 auto;
	}
	&_inside {
		position: relative;
		width: 100%;
		height: 100%;
		padding: $space_m $space_xl;
		box-sizing: border-box;
		@include mq() {
			padding: 0;
		}
	}
}
.my_profile {
	height: 240px;
	border-radius: $border-radius_m;
	background-color: $background-color_sub1;
	margin-right: $space_m;
	@include mq() {
		margin: 0 0 10px 0;
		height: none;
	}
}
.myprofile {
	display: flex;
	padding-bottom: $space_s;
	&_inside {
		padding: 0 20px;
		padding-bottom: $space_m;
		@include mq() {
			margin-top: 10px;
		}
		& h2 {
			font-size: 22px;
		}
	}
	&_title {
		display: inline-block;
		margin: $space_m 0;
	}
	&:hover {
		background: $background-color_hover;
		border-radius: 10px;
	}
}
.profile_list {
	display: flex;
	margin-top: $space_m;
	& p:first-child {
		margin-right: $space_l;
	}
}
.status {
	width: 70px;
}
.share {
	&_post {
		background-color: $background-color_sub1;
		border-radius: $border-radius_m;
		&_inside {
			padding: 2px $space_xl;
		}
		&_content {
			// display: flex;
			margin: $space_s 0;
		}
	}
	&_icon_div {
		display: flex;
		align-items: center;
	}
	&_feelings {
		margin: $space_m 0;
		text-align: center;
	}
	&_list {
		display: flex;
		padding: $space_m;
		width: 33.3%;
		border-radius: 5px;
		justify-content: center;
		&_wrapper {
			display: flex;
		}
		& i {
			margin-right: 4px;
		}
		&:hover {
			background: $background-color_hover;
			cursor: pointer;
			transition: $transition_time;
		}
	}
}
.noPostyet {
	padding: 10px;
	text-align: center;
	border-radius: $border-radius_m;
	background-color: $background-color_sub1;
}
.myPost {
	width: 100%;
	& > .main_center_element3 {
		margin-top: $space_m;
		border-radius: $border-radius_m;
		margin-bottom: $space_3l;
		width: 100%;
	}
}
.main_postlist {
	padding: 2% 17%;
	@include mq() {
		padding: 0;
	}
	&_wrapper {
		width: 900px;
		margin: 0 auto;
		font-size: 17px;
		@include mq() {
			width: 100%;
		}
	}
}
.profile_screen_overall {
	position: absolute;
	display: none;
	top: 0;
	z-index: 10;
	position: fixed;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	background-color: $background-color_transparency_color;
}
.modalwindow {
	&_screen_overall,
	&_screen_overall_1,
	&_screen_overall_2,
	&_screen_overall_3,
	&_screen_overall_4 {
		position: absolute;
		display: none;
		top: 0;
		z-index: 10;
		position: fixed;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		background-color: $background-color_transparency_color;
	}
	&_form {
		width: 85%;
		background-color: $background-color_sub1;
		overflow-y: scroll;
		border-radius: $border-radius_m;
		margin: 0 auto;
		&_div {
			position: absolute;
			width: 650px;
			bottom: 0;
			right: 0;
			left: 0;
			top: 70px;
			margin: 0 auto;
			z-index: 11;
			@include mq() {
				width: 100%;
			}
		}
		&_title {
			height: 50px;
			position: relative;
		}
		& #text {
			margin-bottom: 2px;
		}
	}
	&_submit {
		width: 100%;
		margin-bottom: 5px;
		padding: 10px;
		border: none;
		text-align: center;
		font-size: $font-size_l;
		border-radius: $border-radius_s;
		background: $background-color_submit;
		color: $font-color_default;
	}
	&_myprof {
		font-size: $font-size_default;
		display: block;
		outline: none;
		border: none;
		box-sizing: border-box;
		color: $font-color_default;
		width: 100%;
		padding: $space_m;
		background-color: $font-color_sub1;
		border-radius: $border-radius_m;
	}
}
.edit {
	&_title {
		padding-top: $space_m;
		font-size: $font-size_xl;
		text-align: center;
		@include mq() {
			font-size: $font-size_l;
		}
	}
	&_form_div {
		max-width: 500px;
		margin: 0 auto;
	}
}
.x-circle {
	&1,
	&2,
	&3,
	&4 {
		width: 32px;
		height: 32px;
		position: absolute;
		bottom: 0;
		right: $space_l;
		top: 9px;
		@include mq() {
			top: 0;
			right: 0;
			font-size: $font-size_s;
		}
	}
}
body.fixed {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
}
[name="uploadIconImg"]:hover,
[name="uploadBackgroundImg"]:hover,
[name="profileChenge"]:hover,
[name="postButton"]:hover {
	background-color: #565656;
}
.areaBox {
	width: 100%;
	padding: $space_m;
	background: #4c4c4c;
	color: $font-color_default;
	border-radius: $border-radius_m;
	border: none;
	outline: none;
	font-size: $font-size_default;
}
.posttextarea {
	width: 100%;
	font-size: $font-size_xxl;
	border: none;
	resize: none;
	color: $font-color_default;
	background-color: $background-color_sub1;
	@include mq() {
		font-size: $font-size_m;
	}
	&:focus {
		outline: none;
	}
}
.form .btn {
	float: right;
}
.form .btn-container {
	overflow: hidden;
}
.input-file {
	display: none;
	z-index: 2; /* 必ずz-indexをつけないと登録画像を変更する際にドラッグ＆ドロップできなくなる*/
}
.prev-img {
	width: 100%;
	border-radius: $border-radius_m;
}
.imgUpIcon {
	float: right;
	margin: $space_m $space_m $space_m 0px;
}
.trim-image-to-circle {
	width: 165px; /* ※縦横を同値に */
	height: 165px; /* ※縦横を同値に */
	border-radius: 50%; /* 角丸半径を50%にする(=円形にする) */
	position: absolute;
	left: 0;
	right: 0;
	top: -145px;
	margin: auto;
}
/* 「「「「「「「「「「「「「「「「「 */
/* passEditPage */
/* 「「「「「「「「「「「「「「「「「 */
.pass {
	&Setting {
		display: flex;
		padding: $space_m;
	}
	&Edit {
		display: inline-block;
		margin: auto;
		padding: $space_s;
		border-radius: 7px;
		&:hover {
			background-color: #565656;
		}
		&Massge {
			margin-bottom: $space_m;
		}
	}
	&Remind {
		&_main {
			color: $font-color_default;
			background-color: #191919;
			height: 100vh;
		}
		&_window {
			overflow: hidden;
			width: 550px;
			margin: auto;
			background-color: #404040;
			border-radius: 5px;
		}
	}
}
.inside {
	padding: $space_m;
}
.editPass {
	&form {
		display: block;
		box-sizing: border-box;
		margin-bottom: $space_l;
		padding: $space_m;
		width: 100%;
		border: none;
		background: #f6f5f5;
		font-size: $font-size_l;
		border-radius: 5px;
	}
	&Button {
		background-color: #4c4c4c;
		color: $font-color_default;
		border: none;
		outline: none;
		border-radius: 2px;
		padding: $space_s;
	}
}
.btn {
	color: $font-color_default;
	background-color: $background-color_submit;
	border: none;
	outline: none;
	&:hover {
		transition: $transition_time;
		background: $background-color_hover;
	}
}
.toMypage {
	margin: 50px 0 0 15%;
}
.padding-top {
	padding-top: 125px;
}
.listOfFriendsInside {
	padding: 2% 17% 2% 17%;
	@include mq() {
		padding: 2% 5% 0% 5%;
	}
	& > .orverall {
		min-height: 90vh;
		background-color: #191919;
	}
}
.sort {
	margin-top: $space_m;
	& > input {
		border-radius: 5px;
		height: 30px;
	}
}
#sidebar {
	float: left;
	box-sizing: border-box;
	border-radius: 5px;
	margin-right: $space_xl;
	padding: $space_l;
	background: $background-color_sub1;
	@include mq() {
		float: none;
		box-sizing: none;
		margin: 0;
		min-height: 0;
		width: 100%;
	}
	& .title {
		text-align: left;
		font-size: $font-size_m;
	}
	& .selectbox {
		position: relative;
	}
	& select {
		padding: $space_m;
		width: 100%;
		border: none;
		border-radius: 0;
		font-size: $font-size_m;
		background-color: #404040;
		color: $font-color_default;
		border-radius: 5px;
		outline: none;
	}
	& .icn_select:after {
		position: absolute;
		top: $space_l;
		right: $space_m;
		display: block;
		width: 0;
		height: 0;
		border: none;
		content: "";
	}
	.page-logined & {
		margin: 0 0 0 $space_xl;
		& > a {
			display: block;
			margin-bottom: $space_l;
		}
	}
}
.title {
	margin: $space_s 0;
}
#main {
	min-height: 600px;
	.page-1colum & {
		width: 100%;
	}

	.page-2colum & {
		width: 760px;
	}
	.page-logined & {
		box-sizing: border-box;
		border: 5px solid #f1f1f1;
	}
}
section h1.title {
	text-align: center;
	font-family: "Montserrat", sans-serif;
}
.search {
	&-title {
		overflow: hidden;
		padding: $space_s $space_m;
		height: $space_3l;
		line-height: $space_3l;
		@include mq() {
			overflow: hidden;
			padding: 0;
			height: 30px;
			display: flex;
			line-height: 0px;
			font-size: 13px;
			align-items: center;
			margin: 5px 0;
		}
		& .total-num {
			padding-right: $space_s;
			font-weight: bold;
			font-size: $font-size_l;
			font-family: "Montserrat", sans-serif;
		}
	}
	&-left {
		float: left;
	}
	&-right {
		float: right;
	}
}
.list > .title {
	padding-left: $space_m;
	border-left: 6px solid #b6a489;
}

.panel-list {
	overflow: hidden;
	margin-right: -$space_l;
	@include mq() {
		margin: 0;
	}
	& > .panel {
		float: left;
		box-sizing: border-box;
		padding-right: $space_l;
		min-height: 185px;
		width: 25%;
		color: #333;
		text-decoration: none;
		line-height: 1.2em;
		margin-bottom: $space_m;
		@include mq() {
			box-sizing: none;
			padding-right: 0;
			width: 50%;
		}
		& img {
			width: 150px;
			height: 150px;
			border-radius: 50%;
			object-fit: cover;
		}

		& .panel-title {
			margin: 0;
			color: $font-color_default;
		}
	}
}
a.panel:hover {
	text-decoration: underline;
}
.pagination {
	position: relative;
	overflow: hidden;
	margin-top: $space_xl;
	&-list {
		position: relative;
		left: 50%;
		float: left;
		padding-left: 0;
		list-style: none;
	}
	& .list-item {
		position: relative;
		left: -50%;
		float: left;
		margin-right: $space_s;
		&:last-child {
			margin-right: 0;
		}
		& a {
			display: block;
			padding: $space_s $space_m;
			background: #eee;
			color: black;
			text-decoration: none;
			font-family: "Montserrat", sans-serif;
		}
		&.active a {
			background: #333;
			color: white;
		}
		& a:hover {
			background: #333;
			color: white;
		}
	}
}

/* 「「「「「「「「「「「「「「「「「 */
/* hover */
/* 「「「「「「「「「「「「「「「「「 */
.left_icon,
.header_center_icon,
.header_right_icon,
.main_center_comment1,
.main_center_icon,
.main_center_element2_icon_div,
.withdraw_window input,
.info_list,
.edit,
.fa-times-circle,
.passEdit,
.comment_make_stories,
select,
.message:hover,
.friendMsg,
.bio_btn,
input {
	cursor: pointer;
}
.Retentioncolor_blue {
	color: $goodbook_color;
}

/* 「「「「「「「「「「「「「「「「「 */
/* darkmode切り替え */
/* 「「「「「「「「「「「「「「「「「 */
.lightColor1 {
	color: #c1c1c1;
}
.lightBackColor1 {
	background-color: #c1c1c1;
}
.lightColor2 {
	color: $font-color_default;
}
.lightBackColor2 {
	background-color: $font-color_default;
}
.darkColor1 {
	color: #333333;
}
.darkBackColor1 {
	background-color: #333333;
}
.darkColor2 {
	color: #494949;
}
.darkBackColor2 {
	background-color: #494949;
}
.darkColor3 {
	color: #191919;
}
.darkBackColor3 {
	background-color: #191919;
}
.darkColor4 {
	color: $background-color_sub1;
}
.darkBackColor4 {
	background-color: $background-color_sub1;
}
.borderDarkColor {
	border-bottom: 2px solid #494949;
}
.shadow {
	box-shadow: 0 0 8px grey;
}

/* [[[[[[[[[[[[[[[[[ */
/* [[[    msg    [[[
/* [[[[[[[[[[[[[[[[[ */
.area-msg {
	color: #ff4d4b;
}
.edit_form .area-msg {
	margin-bottom: $space_l;
}
label.err input {
	color: #000000;
	background-color: #f7dcd9;
}
.msg-slide {
	color: black;
	position: fixed;
	width: 100%;
	height: 45px;
	background: rgba(122, 206, 230, 0.6);
	text-align: center;
	font-size: $font-size_l;
	line-height: $space_3l;
}
// ==========
/* msg.php */
// ==========
.site-width {
	width: $site-width;
	overflow: hidden;
	margin: 60px auto;
	@include mq() {
		width: 100%;
	}
}
.msg-info {
	background: #191919;
	padding: $space_l;
	overflow: hidden;
	margin-bottom: $space_l;
	& .avatar {
		width: 80px;
		height: 80px;
		border-radius: 40px;
		object-fit: cover;
		&-img {
			text-align: center;
			width: 100px;
			float: left;
		}
		&-info {
			float: left;
			padding-left: $space_l;
			width: 500px;
		}
	}
	& .product-info {
		float: left;
		padding-left: $space_l;
		width: 315px;
		& .left,
		& .right {
			float: left;
		}
		& .right {
			padding-left: $space_l;
		}
		& .price {
			display: inline-block;
		}
	}
}
.latestMessage {
	margin-left: $space_m;
}
.area {
	&-bord {
		height: 500px;
		overflow-y: scroll;
		background: #333333;
		padding: $space_l;
		& .msg-cnt {
			width: 80%;
			overflow: hidden;
			margin-bottom: 30px;
			display: flex;
			& .avatar {
				width: 6%;
				overflow: hidden;
				float: left;
				object-fit: cover;
				@include mq() {
					overflow: initial;
				}
				& img {
					width: 35px;
					height: 35px;
					border-radius: 20px;
					float: left;
					object-fit: cover;
				}
			}
			& .msg-inrTxt {
				width: 85%;
				float: left;
				border-radius: 5px;
				padding: $space_m;
				margin: 0 0 0 25px;
				position: relative;
				height: 17px;
			}
			&.msg-left .msg-inrTxt {
				background: #191919;
			}
			& > .triangle {
				position: absolute;
				left: -$space_xl;
				width: 0;
				height: 0;
				border-top: $border-radius_m solid transparent;
				border-right: 15px solid #191919;
				border-left: $border-radius_m solid transparent;
				border-bottom: $border-radius_m solid transparent;
			}
			&.msg-right {
				margin-left: auto;
				display: flex;
				& .msg-inrTxt {
					background: #191919;
					margin: 0 25px 0 0;
					float: right;
					min-height: 17px;
					& > .triangle {
						position: absolute;
						right: -$space_xl;
						width: 0;
						height: 0;
						border-top: $border-radius_m solid transparent;
						border-left: 15px solid #191919;
						border-right: $border-radius_m solid transparent;
						border-bottom: $border-radius_m solid transparent;
					}
				}
				& .avatar {
					float: right;
				}
			}
		}
	}
	&-send-msg {
		background: #333333;
		padding: $space_l;
		overflow: hidden;
		& textarea {
			width: 100%;
			background: #191919;
			height: 100px;
			resize: none;
			border: none;
			outline: none;
			font-size: $font-size_default;
			color: $font-color_default;
		}
		& .btn-send {
			width: 150px;
			float: right;
			margin-top: 0;
			background: $background-color_default;
			color: $font-color_default;
			text-decoration: none;
			outline: none;
			border: none;
			height: 30px;
			border-radius: $border-radius_m;
			&:hover {
				background-color: $background-color_hover;
			}
		}
	}
}
.date_send {
	font-size: 0.5em;
	text-align: center;
}
/* ===================== */
/*   msg room page  */
/* ===================== */
.main_msgRoomList {
	padding: 2% 17%;
	@include mq() {
		padding: 0;
	}
	&_wrapper {
		width: 900px;
		margin: 0 auto;
		font-size: 17px;
		@include mq() {
			width: 100%;
		}
	}
}
.msgRoom {
	padding: $space_l;
	@include mq() {
		padding: 0;
	}
	& > .msgShelf {
		display: flex;
		margin-top: $space_xl;
		padding: $space_m;
		background: #444444;
		min-height: 42px;
		border-radius: $border-radius_m;
	}
	& > .createMsg {
		text-align: center;
		margin-top: 100px;
	}
	&List_userInfo {
		margin-left: $space_m;
	}
}
.msgShelf {
	& > img {
		width: 5%;
		border-radius: 70px;
		object-fit: cover;
		@include mq() {
			width: 11%;
		}
	}
	& > p {
		margin-left: $space_m;
	}
	&:hover {
		background-color: #565656;
	}
}
/* ~~~~~~~~~~~~~~~ */
/* postmenu */
/* ~~~~~~~~~~~~~~~ */
ul.menu li.subMenu {
	position: relative;
	padding: $space_s;
	width: 110px;
	background-color: #555555;
	display: block;
	@include mq() {
		right: 95px;
	}
}
ul.sub {
	display: none;
	padding: 0;
	& li.subMenu a {
		padding: $space_s $space_m;
		margin-left: -$space_s;
		margin-right: -$space_s;
		margin-bottom: -$space_s;
		display: block;
	}
	& li.subMenu a:hover {
		background: $goodbook_color;
		text-decoration: none;
	}
}
.button_more {
	display: none;
	@include mq() {
		display: inline-block;
		align-items: center;
		padding: $space_m;
		border-radius: $border-radius_m;
		transition: $transition_time;
		position: absolute;
		z-index: 3;
		&:hover {
			background-color: $background-color_submit;
		}
	}
}
/* ~~~~~~~~~~~~~~~ */
/* slider */
/* ~~~~~~~~~~~~~~~ */
.slider {
	width: 800px;
	height: 200px;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: $space_m;
	@include mq() {
		width: 100%;
	}
	&__container {
		padding: 0;
		overflow: hidden;
		margin: 0;
		list-style: none;
		position: relative;
	}
	&__item {
		width: 200px;
		height: 200px;
		float: left;
		text-align: center;
		line-height: 200px;
	}
	&__item img {
		width: 200px;
		height: 200px;
		border-radius: 50%;
		object-fit: cover;
	}
	&__nav {
		color: #fff;
		position: absolute;
		top: 100px;
		font-size: $font-size_3l !important;
		cursor: pointer;
		z-index: 2;
	}
	&__prev {
		left: $space_xl;
	}
	&__next {
		right: $space_xl;
	}
}
/* ~~~~~~~~~~~~~~~~~ */
/* profpic animation */
/* ~~~~~~~~~~~~~~~~~ */
.thumbnail {
	& img {
		width: 100%;
		/* デフォルトでは、画像下に余白ができるため、下記のようにするかblock要素にする */
		vertical-align: bottom;
		transition: all $transition_time;
	}
	&:hover {
		cursor: pointer;
		transition: all $transition_time;
	}
	&Cover {
		opacity: 0;
		position: absolute;
		/* width:100%; height:100%; と同じ */
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		transition: all $transition_time;
		transform: scale(1.2);
		border-radius: 50%;
	}
	&Cover:hover {
		opacity: 1;
		transition: all $transition_time;
		transform: scale(1);
		border-radius: 50%;
		cursor: pointer;
	}
	&Cover p {
		text-align: center;
		position: relative;
		top: 45%;
	}
	&Cover--sample1 {
		background: $background-color_transparency_color;
	}
	&Cover--sample1 .fas {
		color: #fff;
		font-size: 2em;
		position: relative;
		top: 43%;
	}
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* post good button animation */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.good_color {
	color: $goodbook_color;
}
.is-active {
	animation: favPushAnimation 0.5s ease-out;
}
@keyframes favPushAnimation {
	0% {
		transform: scale(2) rotate(-14deg);
	}
	100% {
		transform: scale(1) rotate(0);
	}
}
.share_color {
	color: orange;
}
.comment_color {
	color: rgb(30, 218, 102);
}
