body {
  font-family: Verdana;
}
.header {
  position: fixed;
  display: flex;
  background-color: #333333;
}
.head_left {
  width: 320px;
  height: 60px;
  display: flex;
}
.icon_div {
  margin: auto;
}
.icon {
  width: 70px;
}
.serch_div {
  margin: auto;
}
.serch {
  width: 240px;
  height: 40px;
  border-radius: 25px;
  border: none;
  background-color: #4c4c4c;
  outline: none;
  font-size: 16px;
  color: #c1c1c1;
}
.serch::placeholder {
  color: #c1c1c1;
}
.head_center {
  width: 1022px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_center_icon {
  margin: 30px;
}
.header_center_icon,
.header_right_icon {
  display: inline;
  color: #dddddd;
}
.head_right {
  width: 322px;
  height: 60px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_right_icon {
  margin: 15px;
}
.main {
  /* margin-top: 60px; */
}
.main_div {
  display: flex;
}
#wrapper {
  width: 360px;
  overflow-y: scroll;
}
#contents {
  background-color: #191919;
}
.main_left_icon {
  display: flex;
  color: #dddddd;
}
.main_center {
  height: 2000px;
  width: 896px;
  padding: 0px 32px;
  background: #191919;
}
.main_right {
  width: 360px;
  background-color: #191919;
}
