body {
  font-family: Verdana;
}
.head_left {
  width: 320px;
  height: 60px;
  background: black;
  position: fixed;
  display: flex;
}
.icon_div {
  margin: auto;
}
.icon {
  width: 70px;
}
.serch_div {
  margin: auto;
}
.serch {
  width: 240px;
  height: 40px;
  border-radius: 25px;
  border: none;
}
.header_ul {
  width: 1460px;
  height: 60px;
  padding: 0px 110px;
  background: red;
  text-align: center;
}
.header_icon {
  display: inline-block;
  margin-right: 10px;
}
